extends ../layout/main

block variables
    - title = 'Règles de compétition';
    - pageClass = 'competition-rules-page'


block content
    .competition-rules-page__inner
        .container
            p
                strong R&Egrave;GLEMENT DU CONCOURS
            p
                strong &laquo;
                strong Ocean Weekend BerryAlloc
                strong &raquo;
            h1#article-1-organisation
                u Article&nbsp;1&nbsp;: organisation
            p
                | 1.1. Le concours &laquo;&nbsp;Ocean Weekend BerryAlloc&nbsp;&raquo; (ci-apr&egrave;s d&eacute;nomm&eacute; le &laquo;
                strong &nbsp;Concours&nbsp;
                | &raquo;) est organis&eacute; par BerryAlloc SA, dont le si&egrave;ge social est &eacute;tabli &agrave; 8930 Menin, Industrielaan&nbsp;100, inscrite &agrave; la Banque-Carrefour des Entreprises dans le Registre des personnes morales de Gand, division Courtrai, sous le num&eacute;ro&nbsp;0463.120.461 (ci-apr&egrave;s d&eacute;nomm&eacute;e l&rsquo;&laquo;&nbsp;
                strong Organisateur&nbsp;
                | &raquo;).
            p Concours &laquo;&nbsp;Ocean Weekend BerryAlloc&nbsp;&raquo;
            p
                | Aucune correspondance ne sera &eacute;chang&eacute;e (que ce soit par courrier, par e-mail, par t&eacute;l&eacute;phone ou tout autre moyen) concernant l&rsquo;interpr&eacute;tation ou l&rsquo;application des pr&eacute;sentes conditions ou concernant les modalit&eacute;s ou m&eacute;canismes du Concours.
            p 1.2. La participation au Concours est assortie d&rsquo;une obligation d&rsquo;achat.
            p
                | 1.3. La participation au Concours implique l&rsquo;acceptation totale et inconditionnelle des dispositions du pr&eacute;sent r&egrave;glement (ci-apr&egrave;s d&eacute;nomm&eacute; le &laquo;&nbsp;
                strong R&egrave;glement&nbsp;
                | &raquo;), y compris toute modification ult&eacute;rieure &eacute;ventuelle conform&eacute;ment &agrave; l&rsquo;article&nbsp;8.4.
            h1#article-2-conditions-de-la-participation
                u Article&nbsp;2&nbsp;: conditions de la participation
            p
                | 2.1. Peut participer au Concours toute personne physique majeure, domicili&eacute;e en Belgique ou aux Pays-Bas, qui agit &agrave; d&rsquo;autres fins que son activit&eacute; professionnelle ou sa profession et agit par cons&eacute;quent en qualit&eacute; de &laquo;&nbsp;consommateur&nbsp;&raquo;.
            p
                | 2.2. L&rsquo;Organisateur se r&eacute;serve le droit d&rsquo;exclure tout participant du Concours et/ou de refuser d&rsquo;attribuer le prix et/ou d&rsquo;annuler tout ou partie du Concours, sans aucune responsabilit&eacute; de sa part, lorsqu&rsquo;un participant ne respecte pas les pr&eacute;sentes conditions et/ou que l&rsquo;Organisateur estime, &agrave; son enti&egrave;re discr&eacute;tion, que le participant a agi ou a l&rsquo;intention d&rsquo;agir de mani&egrave;re malhonn&ecirc;te ou frauduleuse ou de mauvaise foi.
            p
                | 2.3. Il est plus particuli&egrave;rement, mais pas exclusivement, interdit d&rsquo;utiliser des robots, ainsi que tout syst&egrave;me ou dispositif, toute pratique ou tout comportement frauduleux, malhonn&ecirc;te ou de mauvaise foi qui, par exemple, sans que cette &eacute;num&eacute;ration soit limitative, permettraient une participation automatique et/ou augmenteraient les chances de gagner. L&rsquo;Organisateur pourra d&eacute;poser officiellement une plainte contre les auteurs de tels comportements ou leur r&eacute;clamer des dommages et int&eacute;r&ecirc;ts.
            p
                | 2.4. En cas de plainte ou de demande d&rsquo;indemnisation, les participants devront prouver que leur comportement est en parfaite conformit&eacute; avec le pr&eacute;sent r&egrave;glement.
            p
                | 2.5. Les participants peuvent &ecirc;tre &agrave; tout moment invit&eacute;s &agrave; fournir une preuve de leur identit&eacute;, de leur lieu de r&eacute;sidence et de leur &acirc;ge.
            p
                | 2.6. Toutes les personnes collaborant directement ou indirectement par le biais d&rsquo;une association l&eacute;gale ou de toute autre mani&egrave;re pour augmenter leurs chances de gagner sont &eacute;galement exclues de la participation au Concours.
            p
                | 2.7. L&rsquo;Organisateur se r&eacute;serve le droit de contr&ocirc;ler l&rsquo;application du pr&eacute;sent article.
            p
                | 2.8. L&rsquo;Organisateur se r&eacute;serve le droit d&rsquo;exclure toute personne ayant tent&eacute; de tricher ou de perturber le bon d&eacute;roulement du Concours, ou n&rsquo;ayant pas respect&eacute; le pr&eacute;sent r&egrave;glement. Le cas &eacute;ch&eacute;ant, le gagnant ne pourra pas pr&eacute;tendre au prix.
            h1(id='article-3-durée')
                u Article&nbsp;3&nbsp;: dur&eacute;e
            p 3.1. Le Concours d&eacute;butera le 15/03/2021 &agrave; 00:00.
            p 3.2. La fin du Concours est pr&eacute;vue pour le 15/06/2021 &agrave; 23:59.
            p
                | 3.3. Toutes les participations soumises apr&egrave;s cette date et cette heure ne seront plus prises en compte pour l&rsquo;attribution des prix et seront donc automatiquement exclues.
            h1(id='article-4-prix')
                p
                    u Article 4: prix
            p 4.1. Le gagnant du Concours recevra le prix suivant&nbsp;: un week-end &agrave; la mer.
            p
                | 4.2. Le prix ne peut en aucun cas &ecirc;tre &eacute;chang&eacute; ni converti en esp&egrave;ces, par quelque moyen que ce soit.
            p
                | 4.3. L&rsquo;Organisateur peut modifier le prix &agrave; tout moment pour des raisons de production ou de contenu.
            p
                | 4.4. Si le prix est un ch&egrave;que-cadeau, sa validit&eacute; peut &ecirc;tre limit&eacute;e dans le temps.
            p
                | Si, pour une raison quelconque, le gagnant n&rsquo;est pas en mesure d&rsquo;utiliser le ch&egrave;que-cadeau avant sa date d&rsquo;expiration, il ne pourra r&eacute;clamer aucune indemnit&eacute; ni compensation &agrave; l&rsquo;Organisateur.
            p
                | 4.5. Si le prix concerne des objets auxquels s&rsquo;applique un syst&egrave;me de garantie, le droit &agrave; la garantie doit &ecirc;tre exerc&eacute; directement aupr&egrave;s du fabricant, de l&rsquo;importateur ou du vendeur.
            p
                | Si le prix concerne des objets produits ou vendus par l&rsquo;Organisateur, les conditions de garantie telles que reprises dans le certificat de garantie, qui peut &ecirc;tre consult&eacute; sur le site web de l&rsquo;Organisateur [LIEN VERS LE CERTIFICAT DE GARANTIE] seront applicables.
            h1#section
            h1#article-5-mode-de-participation
                u Article&nbsp;5&nbsp;: mode de participation
            p
                | 5.1. La participation au Concours se fait uniquement via le site web (www.ocean.berryalloc.com). Les participations par d&rsquo;autres moyens de communication ne seront pas prises en compte pour d&eacute;terminer les gagnants.
            p 5.2. Pour participer valablement au Concours, les participants doivent&nbsp;:
            ul
                li
                    p
                        | acheter du stratifi&eacute; Ocean+ ou des produits Ocean+ de la marque BerryAlloc OCEAN en un seul achat aupr&egrave;s d&rsquo;un distributeur belge ou n&eacute;erlandais,
                li
                    p s&rsquo;inscrire au Concours sur notre site web (www.ocean.berryalloc.com),
                li
                    p t&eacute;l&eacute;charger la preuve d&rsquo;achat.
            p
                | Sans pr&eacute;judice des dispositions de l&rsquo;article&nbsp;7, l&rsquo;Organisateur ne sera pas responsable de la perte de donn&eacute;es ni des retards caus&eacute;s par les services de fournisseurs de services Internet.
            p
                | 5.3. Pendant la dur&eacute;e du Concours, une seule participation par personne unique est autoris&eacute;e.
            p
                | 5.4. La connexion Internet et les autres redevances sont &agrave; la charge exclusive du participant. Le participant ne peut en aucun cas demander &agrave; l&rsquo;Organisateur de lui rembourser ces frais.
            p
                | 5.5. Il est interdit de participer &agrave; l&rsquo;aide d&rsquo;autres programmes que celui du site web. Il est interdit de modifier/d&rsquo;adapter ce programme. De telles actions peuvent conduire &agrave; l&rsquo;exclusion des participants concern&eacute;s.
            h1#section-1
            h1#article-6-attribution-des-prix
                u Article&nbsp;6&nbsp;: attribution des prix
            p
                | 6.1. Le gagnant sera personnellement averti par courrier &eacute;lectronique &agrave; l&rsquo;adresse &eacute;lectronique fournie pour sa participation. Et ce, dans la semaine qui suit la fin de la p&eacute;riode du concours.
            p
                | Si le gagnant ne r&eacute;agit pas au courriel et/ou ne rappelle pas dans les 14 jours qui suivent l&rsquo;envoi de celui-ci (&agrave; l&rsquo;adresse &eacute;lectronique ou au num&eacute;ro de t&eacute;l&eacute;phone indiqu&eacute;s dans le courriel), il perdra son prix, sans possibilit&eacute; de recours.
            p
                | 6.2. L&rsquo;Organisateur ne peut en aucune mani&egrave;re &ecirc;tre tenu pour responsable de la non-r&eacute;ception du courriel pour quelque raison que ce soit.
            p
                | 6.3. L&rsquo;Organisateur et l&rsquo;agence responsable de la livraison du ou des prix s&rsquo;engagent &agrave; livrer les prix aux gagnants dans les six semaines qui suivent la r&eacute;ception de leur adresse.
            h1(id='article-7-responsabilité')
                u Article&nbsp;7&nbsp;: responsabilit&eacute;
            p
                | 7.1. L&rsquo;Organisateur, ses pr&eacute;pos&eacute;s et l&rsquo;agence de publicit&eacute; Amphion d&eacute;clinent toute responsabilit&eacute; et ne peuvent en aucun cas &ecirc;tre tenus pour responsables des dommages directs ou indirects qui r&eacute;sulteraient d&rsquo;une annulation, d&rsquo;une modification, d&rsquo;une suspension ou d&rsquo;un report du Concours en raison d&rsquo;une force majeure et/ou d&rsquo;&eacute;v&eacute;nements &eacute;chappant &agrave; leur contr&ocirc;le.
            p
                | 7.2. L&rsquo;Organisateur ne peut &ecirc;tre tenu pour responsable de l&rsquo;exclusion de participants et/ou de l&rsquo;annulation du prix d&rsquo;un gagnant en raison d&rsquo;une violation des conditions &eacute;nonc&eacute;es dans le pr&eacute;sent r&egrave;glement.
            p
                | 7.3. L&rsquo;Organisateur ne peut &ecirc;tre tenu pour responsable d&rsquo;un dommage direct ou indirect caus&eacute; par la connexion &agrave; son site web.
            p
                | Les participants naviguent sur le site web www.ocean.berryalloc.com et participent au Concours sous leur propre et enti&egrave;re responsabilit&eacute;. Chaque participant doit prendre les mesures n&eacute;cessaires pour prot&eacute;ger les donn&eacute;es et/ou les logiciels utilis&eacute;s sur son ordinateur et/ou site web contre d&rsquo;&eacute;ventuelles attaques.
            p
                | 7.4. L&rsquo;Organisateur d&eacute;cline toute responsabilit&eacute; en cas d&rsquo;indisponibilit&eacute; du site web www.ocean.berryalloc.com, de mauvais fonctionnement d&rsquo;Internet, d&rsquo;interruptions, de retards dans la transmission de donn&eacute;es, de pannes informatiques ou de tout autre probl&egrave;me li&eacute; aux r&eacute;seaux de communication, aux serveurs et aux fournisseurs de services Internet.
            p
                | 7.5. L&rsquo;Organisateur ne peut &ecirc;tre tenu pour responsable d&rsquo;aucune contrari&eacute;t&eacute; pendant ou apr&egrave;s la r&eacute;ception du prix.
            p
                | 7.6. L&rsquo;Organisateur se r&eacute;serve le droit de reporter une date annonc&eacute;e &agrave; une date ult&eacute;rieure.
            h1(id='article-8-acceptation-du-règlement')
                u Article&nbsp;8&nbsp;: acceptation du R&egrave;glement
            p
                | 8.1. Le R&egrave;glement peut &ecirc;tre consult&eacute; sur le site web www.ocean.berryalloc.com ou obtenu sur simple demande &eacute;crite &agrave; l&rsquo;adresse suivante&nbsp;:
            p BerryAlloc SA
            p Industrielaan&nbsp;100
            p 8930 Menin
            p
                | Cette demande doit &ecirc;tre envoy&eacute;e dans une enveloppe pr&eacute;-adress&eacute;e et suffisamment affranchie (avec le nom exact et l&rsquo;adresse du participant).
            p
                | 8.2. Toute forme de correspondance ou de communication concernant le Concours (que ce soit par courrier, e-mail, fax ou t&eacute;l&eacute;phone) est interdite, &agrave; l&rsquo;exception de l&rsquo;envoi du pr&eacute;sent r&egrave;glement et des &eacute;changes avec les gagnants.
            p
                | 8.3. L&rsquo;Organisateur peut modifier le R&egrave;glement &agrave; tout moment et il lui suffira, le cas &eacute;ch&eacute;ant, de le signaler sur le site web www.ocean.berryalloc.com. Les anciennes conditions continueront &agrave; s&rsquo;appliquer aux participants qui auront d&eacute;j&agrave; particip&eacute; au Concours avant que les conditions de la campagne d&rsquo;achat aient pu &ecirc;tre modifi&eacute;es et les nouvelles conditions ne s&rsquo;appliqueront pas.
            p
                | 8.4. L&rsquo;Organisateur se r&eacute;serve le droit de disqualifier un participant et de lui retirer son prix si celui-ci ne respecte pas les r&egrave;gles &eacute;nonc&eacute;es dans le R&egrave;glement, perturbe le bon d&eacute;roulement du Concours ou ne se conforme pas au R&egrave;glement.
            h1(id='article-9-protection-des-données-à-caractère-personnel')
                u Article&nbsp;9&nbsp;: protection des donn&eacute;es &agrave; caract&egrave;re personnel
            p
                | 9.1. Les donn&eacute;es &agrave; caract&egrave;re personnel des participants sont destin&eacute;es &agrave; l&rsquo;Organisateur. Elles sont trait&eacute;es par lui. Ces donn&eacute;es sont soumises &agrave; l&rsquo;application de la Loi du 30 juillet 2018 relative &agrave; la protection des personnes physiques &agrave; l&rsquo;&eacute;gard des traitements de donn&eacute;es &agrave; caract&egrave;re personnel et de tous les r&egrave;glements belges d&rsquo;ex&eacute;cution du RGPD.
            p
                | En participant au Concours, les participants consentent express&eacute;ment &agrave; ce traitement.
            p
                | La politique de l&rsquo;Organisateur concernant ces donn&eacute;es &agrave; caract&egrave;re personnel peut &ecirc;tre consult&eacute;e sous le volet &laquo;&nbsp;vie priv&eacute;e&nbsp;&raquo; figurant au bas du site web de l&rsquo;Organisateur www.berryalloc.com.
            p 9.2. Le participant a le droit de (faire) supprimer ces donn&eacute;es.
            p
                | 9.3. Les donn&eacute;es &agrave; caract&egrave;re personnel (telles que le nom, le pr&eacute;nom et l&rsquo;adresse &eacute;lectronique) ne sont collect&eacute;es que pour identifier les gagnants et leur envoyer des prix. Elles ne seront pas conserv&eacute;es apr&egrave;s la fin de l&rsquo;action (la date limite du Concours est indiqu&eacute;e ci-dessous, ainsi que la p&eacute;riode durant laquelle les prix seront attribu&eacute;s aux gagnants). Les participants ont le droit d&rsquo;acc&eacute;der &agrave; leurs donn&eacute;es et d&rsquo;obtenir leur rectification. Les demandes y aff&eacute;rentes doivent &ecirc;tre introduites par &eacute;crit &agrave; l&rsquo;adresse suivante&nbsp;:
            p BerryAlloc SA
            p Industrielaan&nbsp;100
            p 8930 Menin
            h1(id='article-10-limitation-de-la-responsabilité')
                u Article&nbsp;10&nbsp;: limitation de la responsabilit&eacute;
            p
                | 10.1. Aucune responsabilit&eacute; ne peut &ecirc;tre imput&eacute;e &agrave; l&rsquo;Organisateur si des circonstances particuli&egrave;res l&rsquo;obligent &agrave; modifier ou &agrave; annuler le Concours ou si les stocks de prix et/ou d&rsquo;emballages promotionnels pr&eacute;vus sont &eacute;puis&eacute;s.
            p
                | 10.2. L&rsquo;Organisateur ne peut en aucun cas &ecirc;tre tenu pour responsable d&rsquo;une incompatibilit&eacute; entre les m&eacute;canismes et les technologies utilis&eacute;s pour le Concours et/ou le mode de livraison, les services postaux ou la configuration logicielle utilis&eacute;e par le participant.
            p
                | 10.3. L&rsquo;Organisateur ne peut pas garantir et ne garantit donc pas le bon fonctionnement des logiciels d&eacute;velopp&eacute;s par des tiers, ni la fourniture de services hors ligne par un quelconque tiers.
            p
                | 10.4. L&rsquo;Organisateur ne peut en aucune fa&ccedil;on &ecirc;tre tenu pour responsable d&rsquo;un probl&egrave;me ou d&rsquo;une intervention quelconque de nature op&eacute;rationnelle, technique et/ou technologique (y compris, sans s&rsquo;y limiter, les lignes de communication et lignes Internet, les probl&egrave;mes de logiciels, les probl&egrave;mes de connectivit&eacute;, les probl&egrave;mes postaux, etc.), ni de probl&egrave;mes emp&ecirc;chant le participant de prendre part au Concours de quelque mani&egrave;re que ce soit, y compris l&rsquo;acc&egrave;s au site web ou la participation au Concours via le site web.
            p
                | 10.5. L&rsquo;Organisateur ne peut en aucune fa&ccedil;on &ecirc;tre tenu pour responsable d&rsquo;actions de tiers, de virus, de chevaux de Troie, de bogues, d&rsquo;erreurs, d&rsquo;un mauvais fonctionnement ou de tout autre probl&egrave;me technique ou technologique directement ou indirectement li&eacute; &agrave; la participation au Concours, d&rsquo;une panne quelconque de l&rsquo;&eacute;quipement du participant (sans limitation&nbsp;: mat&eacute;riel, logiciel, outils de connexion Internet, serveurs t&eacute;l&eacute;phoniques, etc.), de la perte de donn&eacute;es qui pourrait r&eacute;sulter de ce qui pr&eacute;c&egrave;de, et qui n&rsquo;est pas caus&eacute; par l&rsquo;Organisateur, ni des cons&eacute;quences d&rsquo;une telle panne pour le participant et la participation au Concours.
            p
                | 10.6. Dans la mesure o&ugrave; les lois applicables le permettent, l&rsquo;Organisateur d&eacute;cline toute responsabilit&eacute; pour tout pr&eacute;judice direct ou indirect qu&rsquo;il pourrait causer dans le cadre de l&rsquo;organisation du Concours &laquo;&nbsp;Ocean Weekend BerryAlloc&nbsp;&raquo;.
            p
                | 10.7. Le participant garantira et d&eacute;dommagera l&rsquo;Organisateur de toute demande form&eacute;e ou action intent&eacute;e contre lui et des d&eacute;penses ou frais (y compris les frais de justice) que l&rsquo;Organisateur pourrait encourir dans le cadre d&rsquo;une r&eacute;clamation d&eacute;coulant d&rsquo;un acte ou d&rsquo;une omission quelconque du participant, d&rsquo;une incoh&eacute;rence des pr&eacute;sentes conditions ou du non-respect de celles-ci par le participant.
            p
                | 10.8. Les participants acceptent que, sauf preuve du contraire, les donn&eacute;es qui se trouvent dans les syst&egrave;mes informatiques de l&rsquo;Organisateur constituent une preuve irr&eacute;futable des donn&eacute;es de connexion et des informations d&eacute;coulant du traitement automatis&eacute; en rapport avec le concours &laquo;&nbsp;Ocean Weekend BerryAlloc&nbsp;&raquo;.
            p
                | 10.9. Si les donn&eacute;es d&rsquo;un participant ne sont pas utilisables et/ou si aucun gagnant ne peut &ecirc;tre identifi&eacute;, aucun prix ne sera attribu&eacute; et aucune autre compensation ne sera pr&eacute;vue.
            h1(id='article-11-force-majeure-et-divisibilité')
                u Article&nbsp;11&nbsp;: force majeure et divisibilit&eacute;
            p
                | 11.1. L&rsquo;Organisateur ne peut &ecirc;tre tenu pour responsable de l&rsquo;annulation ou du report, de l&rsquo;abr&eacute;gement, de la prolongation, de la suspension ou de la modification du Concours ou de ses conditions pour cause de force majeure et/ou toute autre raison l&eacute;gitime &eacute;chappant &agrave; son contr&ocirc;le raisonnable.
            p
                | 11.2. Si une ou plusieurs dispositions du pr&eacute;sent r&egrave;glement sont jug&eacute;es nulles ou inapplicables, les autres dispositions resteront toutes pleinement valables et applicables.
            h1(id='article-12-réseaux-sociaux')
                u Article&nbsp;12&nbsp;: r&eacute;seaux sociaux
            p
                | 12.1. Le pr&eacute;sent concours &laquo;&nbsp;Ocean Weekend BerryAlloc&nbsp;&raquo; n&rsquo;est en aucune fa&ccedil;on sponsoris&eacute;, approuv&eacute; ou g&eacute;r&eacute; par Facebook, Twitter ou Instagram, ni reli&eacute; &agrave; ces r&eacute;seaux sociaux. En participant au concours &laquo;&nbsp;Ocean Weekend BerryAlloc&nbsp;&raquo;, chaque participant consent &agrave; d&eacute;gager Facebook, Twitter et tous leurs cadres, directeurs, employ&eacute;s, repr&eacute;sentants et agents respectifs de toute responsabilit&eacute; pour tout dommage, toute perte ou blessure r&eacute;sultant enti&egrave;rement ou partiellement, directement ou indirectement, de la participation du participant au concours &laquo;&nbsp;Ocean Weekend BerryAlloc&nbsp;&raquo; et de l&rsquo;acceptation, de l&rsquo;utilisation ou de la mauvaise utilisation de tout prix qu&rsquo;il pourrait gagner.
            h1(id='article-13-litiges-droit-applicable-et-tribunaux-compétents')
                u Article&nbsp;13&nbsp;: litiges, droit applicable et tribunaux comp&eacute;tents
            p
                | 13.1. Si vous avez des r&eacute;clamations ou des questions, n&rsquo;h&eacute;sitez pas &agrave; d&rsquo;abord nous contacter afin que nous puissions essayer de r&eacute;soudre le probl&egrave;me. Vous trouverez nos coordonn&eacute;es dans l&rsquo;article&nbsp;1 du pr&eacute;sent r&egrave;glement.
            p
                | Le pr&eacute;sent r&egrave;glement sera r&eacute;gi par le droit belge et le droit n&eacute;erlandais. Tout litige concernant la validit&eacute;, l&rsquo;interpr&eacute;tation ou l&rsquo;ex&eacute;cution du pr&eacute;sent r&egrave;glement sera de la comp&eacute;tence exclusive des tribunaux de Bruxelles pour la Belgique et le Luxembourg et d&rsquo;Amsterdam pour les Pays-Bas, &agrave; moins qu&rsquo;une l&eacute;gislation imp&eacute;rative n&rsquo;en dispose autrement.
