extends ../layout/main

block variables
    - title = 'Wedstrijdregels';
    - pageClass = 'competition-rules-page'


block content
    .competition-rules-page__inner
        .container
            p
                strong WEDSTRIJD REGLEMENT
            p
                strong &quot;Ocean Weekend BerryAlloc&quot;
            h1#artikel-1-organisatie
                u Artikel 1: Organisatie
            p
                | 1.1. De wedstrijd &lsquo;Ocean Weekend BerryAlloc&rdquo; (hierna &quot;
                strong de
                strong Wedstrijd
                | &quot; genoemd) wordt georganiseerd door BerryAlloc nv, met maatschappelijke zetel te Industrielaan 100, 8930 Menen, ingeschreven bij de Kruispuntbank der Ondernemingen in het Rechtspersonenregister van Gent, afdeling Kortrijk onder het nummer 0463.120.461 (hierna de &quot;
                strong Organisator
                | &quot; genoemd).
            p &quot; Wedstrijd Ocean Weekend BerryAlloc &quot;
            p
                | Er wordt geen briefwisseling gevoerd (noch per post, noch via e-mail, telefoon of andere middelen) betreffende de interpretatie of toepassing van deze voorwaarden of betreffende de modaliteiten of mechanismen van de Wedstrijd.
            p 1.2. Deelname aan deze Wedstrijd gaat gepaard met een aankoopverplichting.
            p
                | 1.3. Deelname aan deze Wedstrijd impliceert de volledige en onvoorwaardelijke aanvaarding van de bepalingen van het huidige reglement (hierna het &ldquo;
                strong Reglement
                | &rdquo; genoemd), inclusief eventuele latere wijzigingen, in overeenstemming met artikel 8.4.
            h1#artikel-2-voorwaarden-voor-de-deelname
                u Artikel 2: Voorwaarden voor de deelname
            p
                | 2.1. Elke meerderjarige natuurlijke persoon die handelt voor andere doeleinden dan zijn professionele activiteit of beroep, en aldus handelend in een hoedanigheid van &lsquo;consument&rsquo;, die daarenboven is gedomicilieerd in Belgi&euml; of Nederland, kan deelnemen aan deze Wedstrijd.
            p
                | 2.2. De Organisator houdt zich het recht voor om elke deelnemer van de Wedstrijd uit te sluiten en/of de prijs niet toe te kennen en/of de Wedstrijd geheel of gedeeltelijk te annuleren, zonder enige aansprakelijkheid van de Organisator, wanneer een deelnemer deze Algemene voorwaarden overtreedt en/of als de Organisator, volledig naar eigen goeddunken, ervan overtuigd is dat de deelnemer op een oneerlijke of frauduleuze manier of te kwader trouw te werk is gegaan of de bedoeling heeft om dit te doen.
            p
                | 2.3. Zo is het meer bepaald, maar niet uitsluitend, verboden om robots te gebruiken, alsook elk systeem, toestel, handelwijze of gedrag dat frauduleus, oneerlijk of te kwader trouw is en die het bijvoorbeeld, zonder dat deze opsomming limitatief is, mogelijk zouden maken om automatisch mee te doen en/of de winstkansen te vergroten. De Organisator kan officieel klacht indienen tegen of een schadevergoeding eisen van de daders van dergelijk gedrag.
            p
                | 2.4. Bij een klacht of eis tot schadevergoeding zullen de deelnemers dienen te bewijzen dat hun gedrag volledig overeenstemt met dit Reglement.
            p
                | 2.5. Aan de deelnemers kan op elk ogenblik gevraagd worden om het bewijs te leveren van hun identiteit, verblijfplaats en leeftijd.
            p
                | 2.6. Alle personen die direct of indirect via een juridische vereniging samenwerken of op enige andere manier om hun kansen op succes te vergroten, zijn ook uitgesloten van deelname aan de Wedstrijd.
            p
                | 2.7. De Organisator behoudt zich het recht voor om een &ZeroWidthSpace;&ZeroWidthSpace;audit uit te voeren om de toepassing van dit artikel te garanderen.
            p
                | 2.8. De Organisator behoudt zich het recht voor om personen uit te sluiten die hebben geprobeerd om vals te spelen, de goede werking van de Wedstrijd te verstoren of die zich niet aan dit Reglement hebben gehouden. In dit geval komt de winnaar niet in aanmerking voor een prijs.
            h1#artikel-3-duur
                u Artikel 3: Duur
            p 3.1. De Wedstrijd begint op 15/03/2021 om 00:00.
            p 3.2. Het einde van de Wedstrijd is gepland op 15/06/2021 om 23:59.
            p
                | 3.3 Alle deelnemingen die na deze datum en tijd worden ingediend, komen niet meer in aanmerking voor de toewijzing van prijzen en zullen dus automatisch uitgesloten worden.
            h1#artikel-4-prijs
                u Artikel 4: Prijs
            p
                | 4.1. De winnaar van de Wedstrijd zal volgende prijs ontvangen: een weekendverblijf aan zee.
            p
                | 4.2. De prijs kan op geen enkele wijze worden geruild of in geld omgezet worden, via welk kanaal ook.
            p
                | 4.3. De Organisator kan op elk ogenblik om productionele of inhoudelijke redenen, de prijs wijzigen.
            p
                | 4.4. Indien de prijs een geschenkbon betreft, dan kan de geldigheid daarvan beperkt zijn in de tijd.
            p
                | Indien de winnaar, om welke reden dan ook, de geschenkbon niet kan inruilen voor het verstrijken van de geldigheidsduur ervan, kan hij geen aanspraak maken op een vergoeding of op een compensatie van de Organisator.
            p
                | 4.5. Indien de prijs voorwerpen betreft waarvoor er een waarborgregeling geldt dan dient het recht op waarborg rechtstreeks te worden uitgeoefend bij de fabrikant, invoerder of verkoper.
            p
                | Indien de prijs voorwerpen betreft die geproduceerd of verkocht worden door de Organisator, dan zullen de garantievoorwaarden zoals opgenomen in het garantiecertficaat dat te raadplegen is via de website van de Organisator [LINK GARANTIECERTIFICAAT] van toepassing zijn.
            h1#section
            h1#artikel-5-wijze-van-deelname
                u Artikel 5: Wijze van deelname
            p
                | 5.1. Deelname aan de Wedstrijd vindt enkel plaats via de website (www.ocean.berryalloc.com) Deelname via andere communicatiemiddelen wordt niet in aanmerking genomen bij het bepalen van de winnaars.
            p 5.2. Om geldig aan de Wedstrijd deel te nemen, moeten de deelnemers :
            ul
                li
                    p
                        | Ocean+-laminaat of ocean+-producten van het merk BerryAlloc OCEAN kopen in &eacute;&eacute;n aankoop bij een Belgische of Nederlandse verdeler
                li
                    p Zich registreren voor de Wedstrijd op onze website (www.ocean.berryalloc.com)
                li
                    p Het aankoopbewijs uploaden
            p
                | Onverminderd het bepaalde in artikel 7, is de Organisator niet aansprakelijk voor verlies van gegevens of vertragingen veroorzaakt door de diensten van internetproviders.
            p
                | 5.3. Tijdens de duur van de Wedstrijd kun je slechts &eacute;&eacute;nmaal deelnemen per uniek persoon.
            p
                | 5.4. Internetverbinding en andere heffingen vallen uitsluitend onder de verantwoordelijkheid van de deelnemer. In geen geval mag de deelnemer de Organisator vragen om hem deze kosten te vergoeden.
            p
                | 5.5. Het is verboden om deel te nemen met de hulp van andere programma&apos;s dan het programma van de website. Het is verboden om dit programma te wijzigen/ aan te passen. Dergelijke acties kunnen leiden tot uitsluiting van de betrokken deelnemers.
            h1#section-1
            h1#toekenning-van-prijzen
                u Artikel 6: Toekenning van prijzen
            p
                | 6.1. De winnaar zal persoonlijk verwittigd worden via e-mail op het verstrekte e-mailadres voor zijn/ haar deelname. Dit zal plaatsvinden in de week na het einde van de wedstrijdperiode.
            p
                | Als de winnaar niet reageert op de e-mail en/of niet binnen de 14 dagen na het versturen van de e-mail terugbelt (naar het e-mailadres of telefoonnummer vermeld in e-mail), geeft hij zijn prijs op, zonder mogelijkheid om in beroep te gaan.
            p
                | 6.2. De Organisator kan op geen enkele manier aansprakelijk worden gesteld als de e-mail om welke reden dan ook niet is ontvangen.
            p
                | 6.3. De Organisator en het agentschap die verantwoordelijk is voor de levering van de prijs/prijzen, verbinden zich ertoe de prijzen aan de winnaars te bezorgen binnen zes weken na ontvangst van het adres van de winnaar(s).
            h1#artikel-7-aansprakelijkheid
                u Artikel 7: Aansprakelijkheid
            p
                | 7.1. De Organisator, diens aangestelden en het reclamebureau Amphion wijzen alle verantwoordelijkheid af en kunnen in geen geval aansprakelijk gesteld worden voor directe of indirecte schade indien de Wedstrijd zou worden geannuleerd, gewijzigd, opgeschort of uitgesteld ten gevolge van overmacht en/of gebeurtenissen buiten de wil van de Organisator, diens aangestelden en het reclamebureau Amphion.
            p
                | 7.2. De Organisator kan niet verantwoordelijk worden gehouden voor de uitsluiting van deelnemers en/ of in geval van intrekking van de prijs van een winnaar vanwege een overtreding van de voorwaarden in dit Reglement.
            p
                | 7.3. De Organisator kan niet verantwoordelijk worden gehouden voor enige directe of indirecte schade veroorzaakt bij het verbinden met zijn website.
            p
                | Deelnemers surfen op de website www.ocean.berryalloc.com en nemen deel aan de Wedstrijd onder hun volledige eigen verantwoordelijkheid. Elke deelnemer moet de nodige maatregelen nemen om de gegevens en/ of de software op zijn computer en/ of website te beschermen tegen mogelijke aanvallen.
            p
                | 7.4. De Organisator wijst elke verantwoordelijkheid af in geval van onbeschikbaarheid van de website www.ocean.berryalloc.com, storing van het Internet, onderbrekingen, vertragingen in de overdracht van gegevens, computerdefect of elk ander probleem met betrekking tot communicatienetwerken, servers en internetserviceproviders.
            p
                | 7.5. De Organisator kan niet aansprakelijk worden gesteld voor onvrede tijdens of na ontvangst van de prijs.
            p
                | 7.6. De Organisator behoudt zich het recht voor om een&ZeroWidthSpace;&ZeroWidthSpace; aangekondigde datum uit te stellen op een later tijdstip.
            h1#artikel-8-aanvaarding-van-het-reglement
                u Artikel 8: Aanvaarding van het Reglement
            p
                | 8.1. Dit Reglement kan geraadpleegd worden op de website www.ocean.berryalloc.com of verkregen worden op eenvoudig schriftelijk verzoek gericht naar:
            p Berry Alloc nv
            p Industrielaan 100
            p 8930 Menen
            p
                | Dit verzoek moet samen met een vooraf geadresseerde enveloppe met voldoende frankering (met de exacte naam en het adres van de deelnemer) worden verzonden.
            p
                | 8.2. Elke vorm van correspondentie of communicatie over deze Wedstrijd (per brief, e-mail, fax of telefoon), behalve het verzenden van dit Reglement en uitwisselingen met de winnaars, is verboden.
            p
                | 8.3. De Organisator kan het Reglement op elk moment wijzigen en het is voldoende om dit op de website www.ocean.berryalloc.com te vermelden. De oude voorwaarden blijven van toepassing op deelnemers die al aan de Wedstrijd hebben deelgenomen voordat de voorwaarden van de koopactie mogelijk zijn gewijzigd en de nieuwe voorwaarden zijn dan niet van toepassing.
            p
                | 8.4. De Organisator behoudt zich het recht voor om een &ZeroWidthSpace;&ZeroWidthSpace;deelnemer te diskwalificeren en zijn prijs in te trekken als de deelnemer de regels zoals uiteengezet in dit Reglement niet naleeft, het goede verloop van de Wedstrijd verstoort of het Reglement niet toepast.
            h1#artikel-9-bescherming-van-persoonlijke-gegevens
                u Artikel 9: Bescherming van persoonlijke gegevens
            p
                | 9.1. Persoonlijke gegevens zijn bedoeld voor de Organisator. De persoonsgegevens van de deelnemers worden door de Organisator verwerkt. Deze gegevens vallen onder toepassing van de wet van 30 juli 2018 betreffende de bescherming van natuurlijke personen met betrekking tot de verwerking van persoonsgegevens en alle Belgische regelgeving ter uitvoering van de GDPR.
            p Door deel te nemen aan deze Wedstrijd gaan de deelnemers uitdrukkelijk akkoord
            p
                | Het beleid van de Organisator met betrekking tot deze persoonsgegevens kan worden geraadpleegd onder het luik &lsquo;privacy&rsquo; zoals onderaan vermeld op de website van de Organisator www.berryalloc.com.
            p 9.2. De deelnemer heeft het recht om deze gegevens te (laten) verwijderen.
            p
                | 9.3. Persoonlijke gegevens (zoals achternaam, voornaam en e-mailadres) worden uitsluitend verzameld met het doel om winnaars te identificeren en prijzen te verzenden. Deze gegevens worden niet bewaard na het einde van de actie (de deadline voor deze Wedstrijd is hieronder aangegeven, evenals de periode waarin de winnaars en prijzen worden toegekend). Deelnemers hebben het recht op toegang tot en correctie van hun gegevens. Deze verzoeken moeten schriftelijk worden ingediend bij:
            p Berry Alloc nv
            p Industrielaan 100
            p 8930 Menen
            h1#artikel-10-beperking-van-aansprakelijkheid
                u Artikel 10: Beperking van aansprakelijkheid
            p
                | 10.1. De Organisator kan niet aansprakelijk worden gesteld indien specifieke omstandigheden de Organisator verplichten om deze Wedstrijd te wijzigen of te annuleren of wanneer de voorziene voorraad prijzen en/of actieverpakkingen uitgeput is.
            p
                | 10.2. De Organisator kan op geen enkele manier aansprakelijk gesteld worden voor gebrek aan compatibiliteit tussen de mechanismen en technologie&euml;n die voor de Wedstrijd worden gebruikt en/of de leveringsmethode, postdiensten of softwareconfiguratie die de deelnemer gebruikt.
            p
                | 10.3 De Organisator kan geen garantie geven en doet dit ook niet voor het correct functioneren van de software die door derden wordt ontwikkeld, noch voor het leveren van offlinediensten door om het even welke derde partij.
            p
                | 10.4. De Organisator kan op geen enkele manier aansprakelijk gesteld worden voor om het even welk operationeel, technisch en/of technologisch probleem of interventie (met inbegrip van, maar niet beperkt tot, communicatie- en internetlijnen, softwareproblemen, connectiviteitsproblemen, postproblemen, enz.) of voor problemen die ertoe leiden dat de deelnemer op geen enkele manier aan de Wedstrijd kan deelnemen of zijn deelname hinderen, inclusief toegang tot de website of deelname aan de Wedstrijd via de website.
            p
                | 10.5. De Organisator kan op geen enkele manier aansprakelijk gesteld worden voor acties van derden of voor virussen, trojaanse paarden, bugs, fouten, slecht functioneren of alle andere technische of technologische problemen die rechtstreeks of onrechtstreeks in verband staan met de deelname aan de Wedstrijd of voor om het even welk falen van de uitrusting van de deelnemer (zonder beperking: hardware, software, internetverbindingstools, telefoonservers, &mldr;) of voor het gegevensverlies dat het gevolg zou kunnen zijn van het bovenstaande, niet veroorzaakt door de Organisator, of voor de gevolgen van dergelijk falen voor de deelnemer en de deelname aan de Wedstrijd.
            p
                | 10.6 In de mate dat dit is toegelaten door de wetten die van toepassing zijn, wijst de Organisator elke aansprakelijkheid af voor rechtstreekse of onrechtstreekse schade die de Organisator zou veroorzaken bij de organisatie van de Wedstrijd Ocean Weekend Berry Alloc.
            p
                | 10.7 De deelnemer vrijwaart de Organisator en stelt hem schadeloos voor alle eisen en vorderingen tegen de Organisator en voor uitgaven of kosten (inclusief gerechtskosten en uitgaven) die hij zou oplopen in verband met om het even welke vordering die ontstaat uit om het even welke daad of vergetelheid van de deelnemer en/of elke inconsistentie of niet-naleving van deze Algemene voorwaarden door de deelnemer.
            p
                | 10.8 De deelnemers aanvaarden dat de gegevens in de informatiesystemen van de Organisator overtuigend bewijs vormen, tenzij het tegendeel bewezen wordt, van de aansluitingsgegevens en van de informatie die voortvloeit uit de geautomatiseerde verwerking in verband met de Wedstrijd Ocean Weekend Berry Alloc.
            p
                | 10.9. Als de gegevens van een deelnemer niet bruikbaar zijn en/of als er geen winnaar kan worden ge&iuml;dentificeerd, dan ontvangt de winnaar geen prijs of enige andere compensatie.
            h1#artikel-11-overmacht-en-opsplitsbaarheid
                u Artikel 11: Overmacht en opsplitsbaarheid
            p
                | 11.1. De Organisator kan niet aansprakelijk gesteld worden voor het annuleren of uitstellen, inkorten, verlengen, opschorten of wijzigen van de voorwaarden van de Wedstrijd door overmacht en/of door elke andere gewettigde reden die buiten de redelijke controle van de Organisator valt.
            p
                | 11.2. Als &eacute;&eacute;n of meer bepalingen van dit Reglementongeldig of niet-afdwingbaar blijken te zijn, dan blijven alle resterende bepalingen ervan toch volledig geldig en van toepassing.
            h1#artikel-12-sociale-netwerken
                u Artikel 12: Sociale netwerken
            p
                | 12.1 Deze &ldquo;Ocean Weekend BerryAlloc&rdquo;- Wedstrijd wordt op geen enkele manier gesponsord, goedgekeurd of beheerd door of in verband gebracht met Facebook, Twitter of Instagram. Door zijn deelname aan de &ldquo;Ocean Weekend BerryAlloc&rdquo;-Wedstrijd stemt elke deelnemer ermee in om Facebook, Twitter en al hun respectieve kaderleden, directeurs, personeelsleden, vertegenwoordigers en agenten te ontslaan van elke aansprakelijkheid, schade, verlies of verwonding die volledig of gedeeltelijk, rechtstreeks of onrechtstreeks het gevolg is van de deelname van de deelnemer aan de &ldquo;Ocean Weekend BerryAlloc&rdquo;-Wedstrijd en de aanvaarding, het gebruik of het misbruik van elke prijs die hij eventueel wint.
            h1#artikel-13-geschillen-toepasselijk-wet-en-bevoegde-rechtbanken
                u Artikel 13: Geschillen; toepasselijk wet en bevoegde rechtbanken
            p
                | 13.1. Als u om het even welke klachten of vragen hebt, mag u niet aarzelen om in de eerste plaats met ons contact op te nemen, zodat wij het probleem kunnen proberen op te lossen. U vindt onze contactgegevens in hoofdstuk 1 van dit Reglement.
            p
                | Op dit Reglement zijn de Belgische en Nederlandse wetten van toepassing. Elk geschil betreffende de geldigheid, interpretatie of uitvoering van dit Reglementzal worden voorgelegd aan de exclusieve rechtsmacht van de rechtbanken van Brussel voor Belgi&euml; en Luxemburg en Amsterdam voor Nederland, tenzij verplichte wetgeving dit anders zou bepalen.
