include ../utils/mixins
include ../utils/includes
- var pathPrefix = '/';
- var description = 'Description';
- var pageClass = '';
// for legacy page rules || terms || privacy || cookie
- var pageName = '';
-
    var lang = _lang || 'nl'

    var _trans = _lara ?  {} : require("../../../../resources/lang/en.json")

    var t = function ($key) {
        return _lara
            ? __($key)
            : _trans[$lang + '.' + $key]
    };

    var title = t('home.title')

block variables

doctype html
html(lang= $lang, data-locale= $lang)
    head
        meta(charset='utf-8')
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(content="telephone=no" name="format-detection")
        meta(name="HandheldFriendly" content="true")
        +meta()
        +favicon()

        link(rel='stylesheet' href=pathPrefix + 'css/app.css')
        if _lara
            meta(name="csrf-token" content = csrf_token())
        //- link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@animxyz/core@0.4.0/dist/animxyz.min.css')

        block head

    body.body
        main.layout(class=pageClass)
            .layout__header
                +header()
            main.layout__main
                block content
            .layout__footer
                +footer()

        block modals

        script(type='text/javascript' src=pathPrefix + 'js/vendors.js')
        script(type='text/javascript' src=pathPrefix + 'js/app.js')
        block script
